.mynav{
	background-color:#800080;
	border-color: #800080;
	border-radius: 0;	
}

.mynav .navbar-brand{
	color:white;
	font-weight: bold;
}

.mynav .navbar-nav li a{
	color:white;
}

.mynav .navbar-nav li.active a{
	color:#800080;
}
	
.container{
	margin-right:0;
	margin-left: 0;
	width: 100%;
}

.search_row{
	margin : 0;
	width:100%;
}

.custom_panel{
	border-color: #800080;
}

.error_panel{
	border-color: red;
}

.panel-primary .custom_header_panel{
	background-color: #800080;
	font-weight: bold;
}

.panel-primary .error_header_panel{
	background-color: red;
	font-weight: bold;
}

p.releaseDate{
	color : #800080;
	font-weight: bold;
}

.content-container{
	margin-bottom: 10px;
}

p.errMsg{
	color : red;
	font-weight: bold;
	font-style: 70px;
}
